# Database connection string (adjust username, password, host, db name)
DATABASE_URL="mysql://user:pass@host:3306/ktdashv4"

# Used by NextAuth.js
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Application port
PORT=7000

# Local uploads (portraits)
UPLOADS_DIR=/path/to/user/uploads

 #Hide Prisma noise
LOG_QUERIES=false
DEBUG_MODE=false

 #Flags
NEXT_PUBLIC_ENABLE_HOMEBREW=true
NEXT_PUBLIC_ENABLE_MATCHRESULTS=false
